.contact {
  //background-color: #000;
  background: linear-gradient(to left, #000, rgb(17, 17, 17));

  .bottom-contacts {
    margin-top: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 20px;
      font-weight: 300;
      color: rgb(145, 144, 144);
    }
    .hr {
      width: 1366px;
      height: 1px;
      margin: 15px auto;
      border: 0;
      background: rgb(145, 144, 144);
    }
    .details-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      .details {
        color: rgb(145, 144, 144);
        font-size: 18px;
        font-weight: 300;
        padding: 50px;
      }
    }
  }
}
