.app {
  height: 100vh;
  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: aqua;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; //you can remove the snappy thing later
    > * {
      width: 100%;
      height: calc(100vh - 70px);
      scroll-snap-align: start; //you can remove the snappy thing later
    }
  }
}
