.app {
  height: 100vh;
  .sections {
    width: 100%;
    height: calc(100vh - 8vh);
    background-color: aqua;
    position: relative;
    top: 8vh;
    scroll-behavior: smooth;
    //scroll-snap-type: y mandatory; //you can remove the snappy thing later
    > * {
      width: 100%;
      height: calc(100vh - 8vh);
      //scroll-snap-align: start; //you can remove the snappy thing later
    }
  }
}
